* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px auto;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(240, 242, 245);
    padding-left: 1%;
}

h1,
h2 {
    color: rgb(24, 119, 242);
}

h1 {
    text-align: center;
    font-size: 1rem;
}

img {
    display: block;
    width: auto;
    min-width: 366px;
    height: 230px;
    border: 2px solid rgb(24, 119, 242);
}

h2 {
    font-weight: 500;
    text-align: left;
    margin: 10px 0;
}

li a {
    font-size: 24px;
}

button {
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: 0px auto;
}

button a {
    text-decoration: none;
}

ul.nav-Item {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
    font-family: Onest, sans-serif;
    font-weight: bold;
    gap: 30px;
    color: rgb(66, 183, 42);
    padding: 20px;
}

ul.nav-Item li {
    cursor: pointer;
    border: 2px solid;
    padding: 2px 10px;
}

.approot>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
}

.approot>div>div {
    display: flex;
}

div#content {
    width: 80%;
    margin: 0px auto;
    font-family: "Roboto Slab", serif;
}

.imgSection {
    flex: 1.5 1 0%;
}

.ingredientsSection {
    flex: 0.9 1 0%;
    padding: 0 20px;
}

.stepSection {
    flex: 3 1 0%;
    padding: 0 20px;
}

ul {
    list-style: auto;
}

.ingredientsSection ul {
    /* text-align: initial; */
    /* margin: 12px 0; */
}

.stepSection ul {
    text-align: initial;
}

ul.nav-Item li:hover {
    color: rgb(30, 119, 242);
    scale: 1.1;
}

.homesection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homesection ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    font-size: 1.3rem;
}

.contactsection {
    flex-direction: column;
    align-items: center;
}

.contactsection ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: circle;
    font-size: 1.3rem;
}

.approot li {margin: 15px 0;}